[submodule "skills/superpowers"]
	path = skills/superpowers
	url = https://github.com/obra/superpowers.git
[submodule "skills/mattpocock-skills"]
	path = skills/mattpocock-skills
	url = https://github.com/mattpocock/skills.git
[submodule "skills/caveman"]
	path = skills/caveman
	url = https://github.com/juliusbrussee/caveman.git
[submodule "skills/skill-tissue-skills"]
	path = skills/skill-tissue-skills
	url = https://github.com/skill-tissue/skills.git
